{{ define "content" }}
    <h1>htmx Example</h1>
    <p>Click the button to fetch a random number from the server:</p>
    <button hx-get="/random" hx-target="#result" hx-target="#result2">Fetch Random Number</button>
    <div id="result" ></div>
    <div id="result1" hx-get="/random">Random number: <span hx-swap="outerHTML"></span></div>
    <div id="result2" hx-get="/random">Random number: <span hx-swap="outerHTML"></span></div>
    <button hx-get="/random" hx-trigger="click">Generate Random Number</button>

    <div> <p id="result2">Smth else other here </p> </div>
{{ end }} 

<!-- {{ template "base.html" . }} -->
